
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: brown;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.task {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Task 2 */


.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gallery-image {
    width: 300px;
    height: 200px;
    margin: 0 20px;
}

.nav-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}


.nav-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Task 3 */


.accordion {
    width: 100%;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}


.accordion-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    cursor: pointer;
    text-align: left;
}


.accordion-content {
    padding: 15px;
    display: none;
    background-color: #f1f1f1;
}

/* Task 4 */


#news-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    max-width: 600px;
    height: 400px;
    overflow-y: auto; 
}

.news-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}


#loading {
    display: none;
}

#load-more {
    display: none;
}


.no-more-news {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* === Таск 5: Календарь === */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}


th {
    background-color: #f2f2f2;
}


h3 {
    margin-top: 20px;
}




.divider {
    border-bottom: 1px solid rgba(126, 12, 12, 0.767); 
    margin-left: 40%;
    border-width: 5px;
    width: 20%; 
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
}



.external-link {
    text-decoration: underline dashed blue;
    text-underline-offset: 3px;
}



body {
    
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.link-list-edit {
    display: flex;
    justify-content: center; 
    width: 100%; 
    
}

ul {
    list-style: none; 
    padding-left: 0;  
}

ul li {
    display: flex; 
    align-items: center; 
    margin-bottom: 6px; 

    font-weight: bold;
    
}

ul li::before {
    content: '●'; 
    margin-right: 10px; 
    color: black; 
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* 7 task */

.book-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.book-item {
    padding: 10px;
    cursor: pointer;
}

.book-item.selected {
    background-color: orange;
}

.book-item {
    -ms-user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
}
  

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* task 8 */
.task-8 {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}

.task-8 .text-box {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    font-family: monospace;
    background-color: #f9f9f9;
    height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
}

.task-8-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: monospace;
    background-color: #f9f9f9;
    box-sizing: border-box; 
}


#textEdit {
    display: none;
}

.task-8-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    min-height: 200px; 
}


.slider-wrapper {
    width: 80%; 
    margin: 0 auto;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
}


input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    cursor: pointer;
}


/* task 9 */
.sortable-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #ddd;
}

.sortable-table th, .sortable-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.sortable-table th {
    background-color: #f4f4f4;
    cursor: pointer;
}

.sortable-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* GitHub */
.github-icon {
    text-align: center;
    margin-top: 20px;
}

.github-icon img {
    transition: transform 0.3s ease;
}

.github-icon img:hover {
    transform: scale(1.1);
}
